
* {
    margin:0;
    padding:0; 
}


.hero {
    background-image: url("https://images.pexels.com/photos/4610401/pexels-photo-4610401.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    height:100vh;
    background-size:cover;
    background-position: center;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-attachment: fixed;
    

}

body {
    height:2000px;
    background-color: #7f5a83;
    background-image: linear-gradient(to right, #6af4f6 0%, #8aa7ff 100%);
}

.header{
   position: absolute;
   top:50%;
   left:50%;
   transform:translate(-50%, -50%);
}

.heading {
    color:blue;
    display:block;
    font-size:70px;
    letter-spacing: 2px;
    font-family: fantasy;
}

.reading  {
    color:rgb(157, 221, 247);
    display:block;
    font-size:20px;
    font-family:fantasy;
    letter-spacing: 4px;

}

.btn {
    display:block;
    padding:15px 30px;
    border:2px solid white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    text-align: center;
    margin:0 auto;
    margin-top:40px;
    color:blue;
    font-size:20px;
    font-weight: 600;
    

}


